html {
  background-color: white;
}
body {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  padding: 20px;
  border: 2px solid black;
  margin-bottom: 1000px;
}

header {
  background-color: aqua;
}

main {
  flex: 1;
  background-color: lightblue;
}

footer {
  background-color: aqua;
  height: 100px;
}

p {
  font-size: 25px;
}
