html {
  background-color: white;
}
html * {
  font-family: Arial;
}
body {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  padding: 20px;
  border: 2px solid black;
  margin-left: 0;
  margin-right: 0;
  margin-top: 100px;
  margin-bottom: 1000px;
}

header {
  background-color: aqua;
}

main {
  flex: 1;
  background-color: lightblue;
}

footer {
  background-color: aqua;
  height: 100px;
}

p {
  font-size: 25px;
}

hr {
  border: none; /* Removes default border */
  height: 2px; /* Adjust thickness */
  background-color: black;
}
iframe {
  width: 100%;
  min-height: 200px;
  border: none;
}
