body {
  padding: 20px;
}
header {
  background-color: aqua;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100px;
}

a {
  padding: 10px 10px;
}
button {
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px 20px;
}
