img {
  margin-left: 5px;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100px;
  background-color: rgb(200, 200, 220);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  font-size: 25px;
  color: #333;
  padding: 10px;
  cursor: pointer;
}
.header-button {
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.left-header {
  display: flex;
  align-items: center;
  margin-left: 120px;
}

.logo {
  width: 100px;
  height: 90px;
}
.logo-text {
  display: flex;
  flex-direction: column;
}

.div-header {
  background-color: lightcoral;
  margin: 5px 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-self: center;
  padding: 10px;
}
p {
  margin: 0;
}

.lower-logo-text {
  font-size: 18px;
}

.right-header {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 150px;
}
.button-logo {
  width: 30px;
}

.first-section {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(254, 243, 223);
  height: 500px;
}

.short-text {
  margin: 40px 60px;
  font-size: 30px;
  line-height: 1.5;
  text-align: justify;
  color: #444;
  padding: 20px;
}
section img {
  width: 400px;
  margin-right: 40px;
}

.projects-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.project-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.project-img {
  width: 200px;
  height: 180px;
  margin: 0 5px;
  border: none;
  border-radius: 20px;
  transition: width 1s, height 1s;
}

.project-img:hover {
  width: 220px;
  height: 198px;
  box-shadow: 5px 5px 10px black;
}
